<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="crit">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Critical</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="later">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Later</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="done">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Complete</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
